body{
    background-color: darkslategrey;
}
li{color:aqua; }
h1{font-family: 'Metal Mania', cursive; color: aquamarine;}
h2{color:indigo;}
td{color:deepskyblue; font-family: 'Shantell Sans', cursive; }